/* Common css Start*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul, ol{
list-style-type: none;
}
/* Common css Stop*/

/* Menu container start */
.menuBar{
    background: #FFC50F;
    /* height: 50px; */
    padding: 5px 0;
}
/* Menu container stop */

.menuItemsContainer{
width: 1320px;
/* background: #63A361; */
margin: 0 auto;

}

/* Menu items un-order list start */
.menuItemsContainer ul, li, a {
display: inline-block;
padding: 0 20px;
justify-content: center;
color: #5B532C;
text-transform: uppercase;


}
/* Menu items un-order list stop */