/* Common css Start*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style-type: none;
}

/* Common css Stop*/



/* Menu Bar start */
.menuBar {
    background: #FFC50F;
}


/* Menu container start */
.menuItemsContainer {
    width: 1320px;
    
    margin: 0 auto;
    text-align: center;
    

}


/* Menu items un-order Design start */

.menuItemsContainer u, li {
    display: inline-block;
    line-height: 50px;
}

.menuItemsContainer ul,li,a {

    padding: 0 20px;
    color: #5B532C;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 20px;
    transition: all linear .4s;
}

.menuItemsContainer ul,li,a:hover{
    color: #63A361;

} 

/* Menu items un-order list stop */
/* Menu container stop */
/* Menu Bar start */