*{
    margin: 0;
    padding: 0;
}
.menuBar{
    background: navajowhite;
    padding: 5px 0;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
.menu{
    width: 1320px;
    margin: 0 auto;
}
.menu ul{
    display: flex;
    justify-content: center;
}

.menu ul li a {
    color: rgb(22, 118, 118);
    padding: 0px 20px;
    text-transform: uppercase;
    font-weight: 800;

}
